body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: #ACBB78;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,  #c7d4d4, #ACBB78);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c7d4d4, #ACBB78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.output {
  width: 70%;
  margin: 0 auto 40px auto; /* Center the output div and add bottom margin */
  text-align: center;
  display: block;
  border: 1px solid rgb(203, 227, 150);
  box-shadow: 7px 7px 7px rgb(21, 20, 20);

}

table {
  border-collapse: collapse;
  width: 100%; /* Set the table width to 100% of the parent */
}

th, td {
  padding: 10px; 
  border: 2px solid black;
  text-align: left;
  background-color: #fffffff2;

}

th {
  background-color: #abbaf5;
}

.contact {
  min-height: auto;
  padding-bottom: 4rem;
  padding-top: 60px;
  width: 600Px;
}

.contact h2 {
  text-align: center;
}

.contact form {
  max-width: 80%; /* Set the form width to 50% */
  margin: 0 auto; /* Center the form */
  text-align: center;
}

.contact form .box {
  
  border: .6 solid blue;
  height: 480px;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid rgb(220, 204, 204) ;
  background-color: #d8bbbb36;
  box-shadow: 2px 2px rgba(53, 151, 72, 0.6);
  text-align: center;
}

.contact form .input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact form .input-box .input-field {
  width: 90%;
  margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .input-box .input-field select {
  width: 90%;
  padding: 10px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #f1f1f1;
  box-shadow: 8px 8px 7px rgba(97, 60, 216, 0.6);
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.contact form .input-box .input-field select {
  -webkit-appearance: none; /* Remove default styling in WebKit browsers */
  appearance: none;         /* Standardize appearance across browsers */
  padding-right: 10px;      /* Adjust padding to match the input element */
}


.btn-box {
  margin-top: 15px;
  margin-bottom: 23px;
}

.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
