body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.admin {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 2.2em;
    background-color: #ffffff98;
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 1);
    text-align: center;
    justify-content: center;
}

.admin-input {
    margin-bottom: 2em;
}

.admin-input .username,
.admin-input .password,
.admin-input .number,
.admin-input .email,
.admin-input .location {
    margin-bottom: 25px;
}

.admin-input input {
    width: 100%;
    padding: 0.7em;
    border: 1.3px solid black;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-size: 16px;
    box-sizing: border-box;
}

.admin-input input::placeholder {
    color: #000000;
}

.button-89 {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 18px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-89:hover,
  .button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button-89:active {
    background: var(--color);
    color: #fff;
  }
